<font color="#8B4513"><center><h1>Editar Livro</h1></font>

<br>
<br>

<%= render 'form', livrarium: @livrarium %>

<%= link_to 'Ver', @livrarium %> |
<%= link_to 'Voltar', livraria_path %>

<p>
<center>
<%= image_tag("livrocerto.PNG", :alt => "imagem") %>
</center>
</p>

